<header class="header">
  <div class="header-section" data-header>
    <div class="container">
      <a href="#" class="logo">
        <img src="/images/logo.png" alt="youth tank logo" width="50" />
      </a>
      <!-- navbar -->
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>
          <li class="navbar-item">
            <a href="about" class="navbar-link" data-nav-link>About</a>
          </li>
          <li class="navbar-item">
            <a href="programs" class="navbar-link" data-nav-link>Programs</a>
          </li>
          <li class="navbar-item">
            <a href="events" class="navbar-link" data-nav-link>Events</a>
          </li>
          <li class="navbar-item">
            <a href="market" class="navbar-link" data-nav-link>Market Hub</a>
          </li>
          <li class="navbar-item">
            <a href="#footer" class="navbar-link" data-nav-link>Contact</a>
          </li>
        </ul>
      </nav>
      <!-- open and close buttons -->
      <div class="header-buttons">
        <button
          class="nav-toggle-btn"
          data-nav-toggler
          aria-label="toggle Menu">
          <ion-icon name="menu-outline" class="menu"></ion-icon>
          <ion-icon name="close-outline" class="close"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</header>
