<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <article>
    <!-- hero section -->
    <section
      class="hero-section"
      id="home"
      aria-label="home"
      style="background-image: url('/images/IMG_20231028_155816.jpg')">
      <div class="container">
        <div class="hero-content">
          <p class="hero-subtitle">Stories na Mayouth</p>

          <h1 class="h1 hero-title">
            The <span class="span">Self Help</span> Philosophy
          </h1>

          <p class="hero-text">
            Mobilize, inspire and transform the lives of young people and their
            communities through storytelling.
          </p>

          <button>Join Us</button>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section class="about-section" id="about" aria-label="about ">
      <div class="container">
        <h2 class="h2 section-title">About <span class="span">Us</span></h2>

        <div class="about-content">
          <!--Image Column-->
          <div class="image-column">
            <div
              class="inner-column"
              data-wow-delay="0ms"
              data-wow-duration="1500ms">
              <div class="image">
                <img
                  src="/images/WhatsApp Image 2024-02-04 at 10.09.40 PM.jpeg"
                  alt="" />
              </div>
            </div>
          </div>
          <!--Content Column-->
          <div class="content-column">
            <div class="inner-column">
              <div class="sec-title">
                <h2>Straight Outta Ruiru</h2>
              </div>
              <div class="text">
                This is a youth-led initiative that seeks to amplify the voices
                of young people through storytelling of their personalized
                experiences to influence change and policy making. The
                initiative is established to give back to the community by
                providing a platform for articulating matters pertinent to the
                young people in Kenya. The platform acts as a focal point of
                sharing factual information by inviting different stakeholders
                to the table. The dynamic structure of the event places it as a
                key referral and networking platform. Storytelling is an art
                that can be relayed as a song, a painting, a dance, a speech, a
                story, a blog, a career, a lifestyle or in any other form. This
                produces a diverse perspective on various matters.
              </div>
              <a href="#" class="btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our programs -->
    <section class="programs-section" id="programs" aria-label="programs">
      <div class="container">
        <h2 class="h2 section-title">Our <span class="span">Programs</span></h2>

        <p class="section-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          doloribus, dignissimos, consequ
        </p>

        <ul class="program-cards js-program-card">
          <!-- programs go here -->
        </ul>
      </div>
    </section>
    <!-- partnerships -->
    <section class="partners-section" aria-label="partners">
      <div class="container">
        <ul class="has-scrollbar">
          <li class="brand-item">
            <img
              src="/images/usaid-logo-63CF51F2DA-seeklogo.com.png"
              width="90"
              height="90"
              loading="lazy"
              alt="brand logo" />
          </li>

          <li class="brand-item">
            <img
              src="/images/microsoft_PNG13.png"
              width="90"
              height="90"
              loading="lazy"
              alt="brand logo" />
          </li>

          <li class="brand-item">
            <img
              src="/images/techbloom.png"
              width="100"
              height="120"
              loading="lazy"
              alt="brand logo" />
          </li>

          <li class="brand-item">
            <img
              src="/images/emblem-UNICEF-500x386-removebg-preview.png"
              width="120"
              height="160"
              loading="lazy"
              alt="brand logo" />
          </li>

          <li class="brand-item">
            <img
              src="/images/UN-United-Nations-Emblem-700x394.png"
              width="150"
              height="170"
              loading="lazy"
              alt="brand logo" />
          </li>

          <li class="brand-item">
            <img
              src="/images/absa-logo-B46B94C6A3-seeklogo.com.png"
              width="90"
              height="90"
              loading="lazy"
              alt="brand logo" />
          </li>
        </ul>
      </div>
      <div class="brand-text-container">
        <p>Partnerships</p>
      </div>
    </section>
    <section class="section blog" id="blog" aria-label="blog">
      <div class="container">
        <h2 class="h2 section-title">
          Recent <span class="span">Events</span>
        </h2>

        <p class="section-text">
          The events we have held have illuminated the path forward, showcasing
          the resilience and determination of our community in the face of
          adversity.
        </p>

        <ul class="blog-list js-event-card">
          <!-- event cards go here -->
        </ul>
      </div>
    </section>
  </article>
</main>
<script src="/js/programs.js"></script>
<script src="/js/events.js"></script>

<%- include('partials/footer') %>
